body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFEBE5;
    /* background-image: url('../images/background_pumpkins.jpg'); Replace with your festive background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #D46A31; /* Autumn orange */
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    transition: background-color 0.3s, transform 0.3s; /* Added transform for a subtle scaling on hover */
}

button:hover {
    background-color: #AA5030;
    transform: scale(1.05); /* Button enlarges slightly on hover */
}

/* Optional: Add some festive decorative elements to the button */
button::before, button::after {
    content: "🍁"; /* Maple Leaf emoji as a decorative element */
    margin: 0 10px; /* Space out the leaf from the text */
}
