body, html 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Default background for computers */
.background 
{
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(60%);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    margin-bottom: 10px;
    color: #dd8a0d;
}

/* Background for phones (max-width: 767px) */
@media only screen and (max-width: 767px) 
{
    .background 
    {
        background-image: url('images/phone_background.png');
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3em;
        margin-bottom: 10px;
        color: #dd8a0d;
    }
}

.content 
{
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    margin-bottom: 20px;
}

p.small
{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.rsvp-button 
{
    background-color: #dd8a0d;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.rsvp-button:hover {
    background-color: #d2571e;
}

.event-details 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.event-location 
{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-size: 1.0em;
}

.rsvp-info 
{
    margin-top: 20px;
}

h2 
{
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul 
{
    list-style-type: none;
    padding: 0;
}

li 
{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    font-size: 1.0em;
    text-align: center;
}

.additional-fields div 
{
    display: inline-block;
    margin-bottom: 10px;
}

.additional-fields label 
{
    font-size: 1em;
}

.additional-fields input[type="radio"] 
{
    margin-left: 5px;
    margin-right: 10px;
}

/* Fix the alignment for mobile */
@media only screen and (max-width: 767px) 
{
    .additional-fields div 
    {
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
    }

    .additional-fields label 
    {
        font-size: 1.2em;
    }

    .additional-fields input[type="radio"] 
    {
        margin-left: 5px;
        margin-right: 10px;
    }
}
